@page
@model RecruitCatZinkjo.Pages.Candidates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Candidates</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].TargetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].SSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Candidate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Industry.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
